
@font-face {
    font-family: 'Rubik One', sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Rubik+Mono+One|Rubik+One|Rubik");
}
body {
  font-family: 'Rubik One', sans-serif;
}

.App {
  text-align: center;
  display: flex;
}


.film-container {
  height: 100vh;
  background-color: pink;
  max-width: 400px;
  min-width: 200px;
  padding: 20px 20px;
}

.swapi {
  min-width: 500px
}

.swapi-nav {
  background-image: url(http://more-sky.com/data/out/12/IMG_531358.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  padding: 10px 10px;
}

.card p {
  font-size: 13px;
}

.swapi-cards {
  backgroun: black;
}
